{% include "_header.html" %}
<div id="main">
  {% include "_menu.html" %}

  <div class="file-list">
    {% for file_id, file in files.items() %}
      <div class="{{'current' if file_id == current_file_id }}">
        <a href="/edit/{{ file_id }}">{{ file.name }}</a>
      </div>
    {% endfor %}
  </div>

  <script>
    function onEdit() {
      var editor = monaco.editor.getModels()[0];
      // console.log('onEdit editor', editor)
      var config = editor.getValue();
      // console.log(config)
      // var configJson = JSON.parse(config);
      // console.log('onEdit configJson', configJson)
      // var configYaml = jsyaml.dump(configJson);
      // console.log('onEdit configYaml', configYaml)
      // document.getElementById('config').value = configYaml;

      fetch('/edit/{{ current_file_id }}', {
        method: 'POST', // Specify the method
        headers: {
          'Content-Type': 'application/json' // Set the data type
        },
        body: JSON.stringify({
          content: config
        })
      })
      .then(response => response.json()) // Parse the response as JSON
      .then(data => {
          console.log('Success:', data); // Log the response data
      })
      .catch((error) => {
          console.error('Error:', error); // Log any errors
      });
    }
  </script>

  <div 
    id="editor" 
    style="width: 100vw;height: 100vh;resize: vertical;overflow: auto"
    onkeyup="onEdit()"
  ></div>

  <script src="/static/monaco-editor/min/vs/loader.js"></script>
  <script>
    require.config({ paths: { vs: '/static/monaco-editor/min/vs' } });
    require(['vs/editor/editor.main'], function () {
      var editor = monaco.editor.create(document.getElementById('editor'), {
        value: {{ file_content|tojson }},
        language: 'yaml',
        minimap: {
          enabled: false,
        },
        automaticLayout: true
      });
    });

    // window.addEventListener('resize', handleWindowResize);

    // function handleWindowResize() {
    //   // Perform actions or execute code when the window is resized
    //   console.log('Window resized!');
    //   // You can access the updated window dimensions using the properties below
    //   console.log('Window width:', window.innerWidth);
    //   console.log('Window height:', window.innerHeight);
    // }

  </script>
</div>
{% include "_footer.html" %}