{% include "_header.html" %}

{% from "_run_helpers.html" import render_pills with context %}
{% from "_run_helpers.html" import primary_service_list with context %}
{% from "_run_helpers.html" import primary_run_list with context %}
{% from "_run_helpers.html" import render_stats with context %}

<div id="main">
  {{ primary_service_list(all_service_names, run.service_name, run.run_id) }}

  <div id="run-list-and-content">

    {{ primary_run_list(all_runs, run.service_name, run.run_id) }}

    <div id="run">
      {% include "_menu.html" %}

      {% if run.state == 'in-progress' %}
        <h2>
          this run is still in progress...
        </h2>
      {% else %}
        <h2>PROMPT RUN REPORT</h2>

        {% if run.run_details %}
          <section>
            <div class="service-name">
              {{ run.service_name }} (run #{{ run.run_id }})
            </div>
            <div class="model-name">{{ run.run_details.request.model }}</div>
            <div class="service-description">
              {{ render_pills(run.run_details.request.options.items()) }}
            </div>    
          </section>
        {% endif %}

        
        <h2>PROMPT</h2>
        
        <div class="text-container">
          <div id="primary-prompt-text">{{ run.prompt_content }}</div>
        </div>
      
        <h2>OUTPUT</h2>
      
        <div class="text-container">
          <div id="primary-output-text">{{ run.output_content }}</div>
        </div>
      
        {% if run.run_details %}
          <h2>RESPONSE</h2> 
        
          <section id="response">
            <div class="response-description">
              {{ render_pills(run.run_details.response.items()) }}
            </div>
          </section>
          
          <h2>STATS</h2> 
          
          <section id="stats">
            {{ render_stats(run.run_details.stats) }}
          </section>
        {% endif %}  
      {% endif %}  
    </div>
</div>

{% include "_footer.html" %}